.spinner-grow {
  width: 1rem; /* Tama침o del spinner m치s peque침o */
  height: 1rem;
  border-width: 0.25em; /* Ancho del borde del spinner m치s delgado */
}
.blink {
  animation: blink 5s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
