<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Cursos</li>
  </ol>
</nav>
<div class="container card" *ngIf="!loading && data.length > 0">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle rounded-0" data-bs-toggle="dropdown">Documentos</button>
        <ul class="dropdown-menu dropdown-menu-center rounded-0">
          <li>
            <h6 class="dropdown-header">
              <i class="fa-regular fa-file-pdf text-danger"></i>
              PDF
            </h6>
          </li>
          <li><a class="dropdown-item cursor" (click)="onPdf(10)">Listados de Asistencia</a></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(1)">Listados Simples</a></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(2)">Listados por Asignatura</a></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(3)">Listados con Notas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(4)">Boletines</a></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(3)">Consolidado</a></li>
          <li><a class="dropdown-item cursor" (click)="onPdf(3)">Certificados</a></li>

        </ul>
      </div>
        <app-load-document *ngIf="generatepdf" [generatepdfMsg]="generatepdfMsg"></app-load-document>
    </div>
  </div>
</div>
<div class="container mt-5" *ngIf="!loading && data.length === 0">
  <div class="row">
      <div class="alert alert-warning" role="alert">
        <strong>Sin Cursos registrados.</strong>
        No es posible gestionar cursos. Por favor, comuníquese con coordinación.
      </div>
  </div>
</div>
<app-datatable
  (event)="onBorrar($event)"
  [data]="data"
  [loading]="loading"
  [message]="message"
  [success]="success"
  [config]="config">
</app-datatable>
