<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/secretaria/alumnos">Alumnos</a></li>
    <li class="breadcrumb-item" *ngIf="id"><a [routerLink]="['/secretaria/alumnos/view', id]">Detalle</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>
<div class="alert alert-warning" role="alert">
  <strong>¡Importante!</strong> Los cambios realizados en el registro serán notificados vía correo electrónico al usuario titular de la misma.
</div>

<app-formulario
  (event)="onAgregar($event)"
  [loading]="loading"
  [message]="message"
  [success]="success"
  [config]="config"
  [entityData]="data"
></app-formulario>
