<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/secretaria/alumnos">Alumnos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
  </ol>
</nav>
<app-alumno-expediente [alumno]="data" [matriculas]="matriculas" [loading]="loading" [config]="config2"></app-alumno-expediente>
<div *ngIf="cursos.length>0" class="card">
  <div class="card-body">
    <div class="alert alert-success" role="alert">
      <p>Actualmente, el estudiante no está matriculado en el sistema.</p>
      <hr>
      <p class="mb-0">Por favor, selecciona el curso al que deseas matricular al estudiante para el ciclo lectivo.</p>
    </div>

    <app-formulario
      (event)="onMatricular($event)"
      [loading]="loading"
      [message]="message"
      [success]="success"
      [config]="config"
    ></app-formulario>
  </div>
</div>
