.alert-success {
  background-color: #e9f7df; /* Un verde más claro para el fondo */
  border-color: #b8d8b8; /* Un borde más suave */
  color: #155724; /* Mantener el texto en un verde oscuro para contraste */
  border-radius: 8px; /* Bordes redondeados para una apariencia más moderna */
  padding: 20px; /* Más espacio interior para una mejor legibilidad */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil para darle profundidad */
}

.alert-heading {
  font-size: 1.5em; /* Título más grande */
  margin-bottom: .5em; /* Espacio después del título */
}

p {
  font-size: 1em; /* Asegurando que el texto sea legible */
  line-height: 1.5; /* Espaciado de línea para mejor lectura */
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #b8d8b8; /* Haciendo que la línea sea coherente con el esquema de color */
}

.mb-0 {
  margin-bottom: 0; /* Ajuste si es necesario, ya aplicado para eliminar margen inferior */
}
