.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  border-radius: 4px;
  animation: fadeAlert 0.5s;
}

@keyframes fadeAlert {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
