<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/secretaria/docentes">Docentes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
  </ol>
</nav>
<div *ngIf="loading" class="card">
  <div class="card-body">
      <div class="container mt-3">
        <div class="d-flex  justify-content-center">
          <app-loading size="20px"></app-loading>
          <h4 class="ms-2 text-secondary">
            Cargando...
          </h4>
        </div>
      </div>
  </div>
</div>
<div *ngIf="!loading" class="card">
  <div class="card-header bg-transparent">
    <i class="fa-brands fa-wpforms me-2"></i> Asignación
  </div>
  <div class="card-body">
    <div class="d-flex mb-0 pt-2 pb-0 border bg-light">
      <div class="flex-shrink-0">
        <img [src]="data.avatar_url" alt="" width="96" class="ms-2 rounded-circle me-1 border" />
      </div>
      <div class="flex-grow-1 ms-3">
        <h4 class="my-0">
          {{data.primer_apellido}} {{data.segundo_apellido}}
        </h4>
        <h5 class="mb-0 text-secondary">
          {{data.primer_nombre}} {{data.segundo_nombre}}
        </h5>
        <p class="mb-0 text-secondary">
          {{data.email}}
        </p>
      </div>
    </div>

    <ul *ngFor="let nivel of asignacion" class="list-group list-group-flush">
      <li class="list-group-item fw-bold border bg-secondary bg-gradient text-white mt-1"> {{nivel.nombre}}</li>
      <ul *ngFor="let grado of nivel.grados" class="list-group list-group-flush ms-2">
        <li class="list-group-item fw-bold">{{grado.nombre}}</li>
        <ul *ngFor="let curso of grado.cursos" class="list-group list-group-flush ms-4">
          <li class="list-group-item fw-bold bg-light font-monospace">
            <a [routerLink]="['/secretaria/cursos/view', curso.id]" >
              Curso: {{curso.nombre}}
            </a>
          </li>
          <ul *ngFor="let materia of curso.materias">
            <li>{{materia}}</li>
          </ul>
        </ul>
      </ul>
    </ul>
  </div>
</div>

