<form [formGroup]="formsearch">
  <div class="input-group mb-0">
    <input type="text" class="form-control" formControlName="buscar" [placeholder]="placeholder">
    <span class="input-group-text">
      <i *ngIf="loading" class="fa-solid fa-spinner fa-spin"></i>
      <i *ngIf="!loading" class="fa-solid fa-magnifying-glass"></i>
    </span>
  </div>
</form>
<div *ngIf="users.length > 0" class="result-container">
  <ul class="list-group shadow">
    <ng-container *ngFor="let user of users; let i = index" >
      <li *ngIf="i<5" class="list-group-item cursor p-0">
        <div class="d-flex mb-0 border py-1 bg-light" (click)="onSelect(user.id)">
          <div class="flex-shrink-0">
            <img [src]="user.avatar_url" alt="" width="40" class="ms-2 rounded-circle me-1 border" />
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="my-0 lh-1 fw-bold">
              {{user.primer_apellido}} {{user.segundo_apellido}}
            </p>
            <p class="mb-0 lh-1 text-secondary">
              {{user.primer_nombre}} {{user.segundo_nombre}}
            </p>
          </div>
        </div>
      </li>
    </ng-container>
    <li *ngIf="users.length > 5 && !showAllResults" class="list-group-item">
      <button class="btn btn-link" (click)="toggleShowAll()">Mostrar más</button>
    </li>
  </ul>
</div>

