.nav-pills .nav-link {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #555; /* Color de texto por defecto */
  background-color: #f8f9fa; /* Color de fondo por defecto */
  border-radius: 0.25rem; /* Bordes redondeados */
}

/* Efecto hover */
.nav-pills .nav-link:hover {
  color: #2f2200; /* Color de texto al pasar el mouse */
  background-color: #d19700ff; /* Color de fondo al pasar el mouse */
  border-left: 3px solid #2f2200;
  cursor: pointer;
}



/* Estado activo (seleccionado) */
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #2f2200 !important; /* Un poco más oscuro que el hover */
  border-left: 3px solid #d19700ff;
}
