<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/secretaria/cursos">Cursos</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="data">{{data.nombre}}</li>
  </ol>
</nav>
<div class="card" *ngIf="loading">
  <div class="card-body">
    <div class="container mt-3">
      <div class="d-flex justify-content-center">
        <app-loading size="30px"></app-loading>
        <h4 class="ms-2 text-secondary">
          Cargando...
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-light" *ngIf="!loading">
  <h3 class="alert-heading text-dark text-end mb-0">Sede {{ data.sede.nombre }} / {{ data.grado.nombre }} [{{ data.nombre }} ]</h3>
  <p class="alert-heading text-secondary text-end mb-0">Coordinación: {{ data.coordinador.primer_nombre }} {{ data.coordinador.segundo_nombre }} {{ data.coordinador.primer_apellido }}</p>
  <p class="alert-heading text-secondary text-end mb-0 border-bottom">Dirección: {{ data.director.primer_nombre }} {{ data.director.segundo_nombre }} {{ data.director.primer_apellido }}</p>
  <div class="d-flex justify-content-start mt-2">
    <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-sm me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Acciones
      </button>
      <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Alumnos</h6></li>
        <li><a class="dropdown-item" [routerLink]="['/secretaria/cursos/matricular', id]">Matricular</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
      <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Documentos
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <app-curso-notas [asignaciones]="asignaciones" [alumnos]="matriculados" [config]="config"></app-curso-notas>
</div>

