/* Estilos para la tabla */
.table-hover tbody tr:hover {
  background-color: #e0e0ea !important;
  transition: background-color 0.3s ease-in-out;
}

/* Estilos para la paginación */
.pagination {
  display: inline-flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
}

.pagination .page-item.active .page-link, .pagination .page-link:hover {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

/* Animación al cambiar de página */
table.fade {
  animation-name: fadeOutIn;
  animation-duration: 0.6s;
}

/* Estilos para el select de tamaño de página */
.form-select.w-auto {
  display: inline-block;
  width: auto;
  margin-left: 1rem;
}

/* Definición de la animación */
@keyframes fadeOutIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

/* Estilo adicional para mejorar el aspecto general del contenedor */
.container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Espaciado para la paginación y select */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  border-radius: 4px;
  animation: fadeAlert 0.5s;
}

@keyframes fadeAlert {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}




.cursor-pointer {
  cursor: pointer;
}
