<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/secretaria/cursos">Cursos</a></li>
    <li *ngIf="curso" class="breadcrumb-item"><a [routerLink]='["/secretaria/cursos/view", id]'>{{curso.nombre}}</a></li>
    <li *ngIf="curso" class="breadcrumb-item"><a [routerLink]='["/secretaria/cursos/matricular", id]'>Matriculas</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="curso">Nuevo</li>
  </ol>
</nav>
<app-formulario
  (event)="onAgregar($event)"
  [loading]="loading"
  [message]="message"
  [success]="success"
  [config]="config"
></app-formulario>
