<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Docentes</li>
  </ol>
</nav>
<div class="row">
  <div class="col-5">
    <app-formulario
      (event)="onAgregar($event)"
      [loading]="loading"
      [message]="message"
      [success]="success"
      [config]="config"
      [entityData]="data"
    ></app-formulario>
  </div>
  <div class="col-4">

      <div class="card mb-2">
        <div class="card-body">
          <app-alumno-buscar [users]="searchList"  [loading]="loading2" [placeholder]="'Buscar Docentes'" (event)="onEvent($event)"></app-alumno-buscar>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-transparent">
            <h6 class="mb-0 py-1">Últimos Docentes</h6>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of newList" [routerLink]="['/secretaria/docentes/view', item.id]" class="list-group-item pb-1 cursor">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img [src]="item.avatar_url" alt="" width="40" class="rounded-circle" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="my-0">
                    {{item.primer_nombre}} {{item.segundo_nombre}}
                  </h6>
                  <p class="my-0">
                    {{item.primer_apellido}} {{item.segundo_apellido}}
                  </p>
                </div>
              </div>

              <div>

              </div>
            </li>
          </ul>
        </div>
      </div>

  </div>
  <div class="col-3"></div>
</div>
