.figure {
  background: url('/assets/images/olvido.jpg');
  width: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
.figure .gradient {
  background: linear-gradient(0deg, rgba(1, 62, 115, 0.9) 0%, rgba(9, 9, 121, 0.4) 36%, rgba(2, 0, 36, 0.3) 100%);
  height: 100%;
}

.form {
  background: #fafafa;
  padding: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form figure {
  display: flex;
  justify-content: center;
}
.form figure img {
  width: 256px;
}
.form form {
  width: 90%;
}

@media screen and (min-width: 600px) {
  .form {
    width: 65%;
  }
}

@media screen and (max-width: 599px) {
  .form {
    width: 100%;
  }
  .figure {
    display: none;
  }
}

circle {
  transition: fill 250ms;
}
